<nav class="navbar-expand-lg navbar-light">
  <div class="container">
    <h2 class="bg-primary rounded text-white text-center mt-2">新規登録</h2>
  </div>
</nav>

<nav class="navbar-expand-lg navbar-light">
  <div class="container">
    <%= form_with model: @user, url: user_registration_path do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>

      <div class="field col-xs-10">
        <%= f.label :name, "名前" %></br>
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>

      <div class="field col-xs-10">
        <%= f.label :email, "メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field col-xs-10">
        <%= f.label :password, "パスワード" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field col-xs-10">
        <%= f.label :password_confirmation, "パスワード(確認用)" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "新規登録", class: 'bg-primary text-white rounded mt-5' %>
      </div>
    <% end %>
  </div>
</nav>

<%#= render "public/shared/links" %>
