<nav class="navbar-expand-lg navbar-light">
  <div class="container">
    <h2 class="bg-success rounded text-white text-center mt-2">ログイン</h2>
  </div>
</nav>

<nav class="navbar-expand-lg navbar-light">
  <div class="container">
    <%= form_with model: @user, url: user_session_path do |f| %>
      <div class="field col-xs-10">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field col-xs-10">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <%# if devise_mapping.rememberable? %>
        <!--<div class="field">-->
          <%#= f.check_box :remember_me %>
          <%#= f.label :remember_me %>
        <!--</div>-->
      <%# end %>

      <div class="actions">
        <%= f.submit "ログイン", class: 'bg-primary text-white rounded mt-5' %>
      </div>
    <% end %>
  </div>
</div>

<%#= render "public/shared/links" %>
