<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <div class="row">
      
      <div class="col-lg-6">
        <h1>
          <%= link_to "人見知り's", root_path %>
        </h1>
      </div>
      
      <div class="col-lg-8">
        <div class="row">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <!--ユーザーログイン-->
              <% if user_signed_in? %>
                <p>ようこそ! <%= current_user.name %>さん!</p>
                <li>
                  <%= link_to "マイページ", user_path(current_user.id), class: 'btn btn-sm btn-outline-dark m-3' %>
                </li>

                <li>
                  <%= link_to "投稿一覧", posts_path, class: 'btn btn-sm btn-outline-dark m-3' %>
                </li>

                <li>
                  <%= link_to "ユーザー一覧", users_path, class: 'btn btn-sm btn-outline-dark m-3' %>
                </li>

                <li>
                  <%= link_to "コミュニティ一覧", groups_path, class: 'btn btn-sm btn-outline-dark m-3' %>
                </li>

                <li>
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn btn-sm btn-outline-dark m-3' %>
                </li>
              <!--管理者用ログイン-->
              <% elsif admin_signed_in? %>
                <li>
                  <%= link_to "投稿一覧", admin_posts_path, class: 'btn btn-sm btn-outline-dark m-3' %>
                </li>
          
                <li>
                  <%= link_to "ユーザー一覧", admin_users_path, class: 'btn btn-sm btn-outline-dark m-3' %>
                </li>
          
                <li>
                  <%= link_to "コミュニティ一覧", admin_groups_path, class: 'btn btn-sm btn-outline-dark m-3' %>
                </li>
          
                <li>
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'btn btn-sm btn-outline-dark m-3' %>
                </li>
              <!--ログイン前-->
              <% else %>
                <li>
                  <%= link_to "About", about_path, class: 'btn btn-sm btn-outline-dark m-3' %>
                </li>

                <li>
                  <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-sm btn-outline-dark m-3' %>
                </li>

                <li>
                  <%= link_to "ログイン", new_user_session_path, class: 'btn btn-sm btn-outline-dark m-3' %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>