<!DOCTYPE html>
<html>
  <head>
    <title>人見知り's</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="skin-bgHeader border-bottom">
      <%= render 'layouts/header' %>
    </header>

    <main>
      <% if flash[:notice] %>
      <div class="alert alert-primary" role="alert">
        <p class="notice text-center alert-link"><%= flash[:notice] %></p>
      </div>
      <% end %>
      
    <%= yield %>
    </main>

    <footer class="border-top">
      <div class="container-xxl mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>hitomimisiri's.com</p>
          </div>
          <%= link_to "管理者ログイン", new_admin_session_path,class: 'btn btn-sm btn-outline-dark m-3' %>
        </div>
      </div>
    </footer>
  </body>
</html>
